<nav class="mb-2">
    <ul class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item"><a href="/admin/beneficiaries">Home</a></li>
        <li class="breadcrumb-item active">Report Settings</li>
    </ul>
</nav>

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Report Settings</h3>
            <div class="nk-block-des text-soft">
                <p>You can update your settings based on your needs</p>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->

<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="project-name">Name of Project</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <input ng-disabled="isRetrievingSetting" type="text" class="form-control" id="project-name" placeholder="Enter name of project" ng-model="report.project_name">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="dole-name">DOLE Regional Office</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <input ng-disabled="isRetrievingSetting" type="text" class="form-control" id="dole-name" placeholder="Enter DOLE regional office" ng-model="report.dole_regional_office">
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="preview-hr">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="footer-name">Footer</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <textarea ng-disabled="isRetrievingSetting" style="width: 100%;" class="form-control" id="footer-name" placeholder="Enter footer" ng-model="report.footer"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="form-group">
                            <label class="form-label" for="footer-sub-name">Sub Footer</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <textarea ng-disabled="isRetrievingSetting" style="width: 100%;" class="form-control" id="footer-sub-name" placeholder="Enter sub footer" ng-model="report.sub_footer"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="preview-hr">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="signature-name">Signature Label</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <input ng-disabled="isRetrievingSetting" type="text" class="form-control" id="signature-name" placeholder="Enter signature label" ng-model="report.signature_label">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="signature-title">Signature Title</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <input ng-disabled="isRetrievingSetting" type="text" class="form-control" id="signature-title" placeholder="Enter signature title" ng-model="report.signature_title">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="signature-sub-title">Signature Sub Title</label>
                            <div ng-if="isRetrievingSetting" class="spinner-border spinner-border-sm" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="form-control-wrap">
                                <input ng-disabled="isRetrievingSetting" type="text" class="form-control" id="signature-sub-title" placeholder="Enter signature sub title" ng-model="report.signature_sub_title">
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="preview-hr">
                <div class="row">
                    <div class="col-2 offset-10">
                        <button class="btn btn-md btn-light btn-block" ng-click="submit()" ng-disabled="isLoading">
                            <em ng-if="!isLoading" class="icon ni ni-save"></em>
                            <span ng-if="!isLoading">Save</span>

                            <span ng-if="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span ng-if="isLoading"> Loading... </span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
