<nav class="mb-2">
    <ul class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item"><a href="/admin/beneficiaries">Home</a></li>
        <li class="breadcrumb-item active">Reports</li>
    </ul>
</nav>

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Generate a report</h3>
            <div class="nk-block-des text-soft">
                <p>You can generate a report and export it as excel file.</p>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->

<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="project-name">Name of Project</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="project-name" placeholder="Enter name of project" ng-model="report.project_name">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="dole-name">DOLE Regional Office</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="dole-name" placeholder="Enter DOLE regional office" ng-model="report.dole_regional_office">
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="preview-hr">

                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label class="form-label" for="footer-name">Footer</label>
                            <div class="form-control-wrap">
                                <textarea style="width: 100%;" class="form-control" id="footer-name" placeholder="Enter footer" ng-model="report.footer"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 mt-2">
                        <div class="form-group">
                            <label class="form-label" for="footer-sub-name">Sub Footer</label>
                            <div class="form-control-wrap">
                                <textarea style="width: 100%;" class="form-control" id="footer-sub-name" placeholder="Enter sub footer" ng-model="report.sub_footer"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="preview-hr">
                <div class="row">
                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="signature-name">Signature Label</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="signature-name" placeholder="Enter signature label" ng-model="report.signature_label">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="signature-title">Signature Title</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="signature-title" placeholder="Enter signature title" ng-model="report.signature_title">
                            </div>
                        </div>
                    </div>

                    <div class="col-3">
                        <div class="form-group">
                            <label class="form-label" for="signature-sub-title">Signature Sub Title</label>
                            <div class="form-control-wrap">
                                <input type="text" class="form-control" id="signature-sub-title" placeholder="Enter signature sub title" ng-model="report.signature_sub_title">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="region">Region</label>
                            <div class="form-control-wrap">
                                <select id="region" class="form-control" ng-model="beneficiary.region_code" ng-change="getProvinces()">
                                    <option ng-value="''">All Region</option>
                                    <option ng-repeat="obj in regions" ng-value="obj.region_code"><% obj.name %></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="province">Province</label>
                            <div class="form-control-wrap">
                                <select id="province" class="form-control" ng-model="beneficiary.province_code" ng-change="getCities()" ng-disabled="beneficiary.region_code.length <= 0 || isProvinceLoading">
                                    <option ng-value="''">All Province</option>
                                    <option ng-repeat="obj in provinces" ng-value="obj.province_code"><% obj.name %></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="municipality">Municipality</label>
                            <div class="form-control-wrap">
                                <select id="municipality" class="form-control" ng-model="beneficiary.city_code" ng-change="getBarangays()" ng-disabled="beneficiary.province_code.length <= 0 || isProvinceLoading || isCityLoading">
                                    <option ng-value="''">All Municipality</option>
                                    <option ng-repeat="obj in cities" ng-value="obj.city_code"><% obj.name %></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="barangay">Barangay</label>
                            <div class="form-control-wrap">
                                <select id="barangay" class="form-control" ng-model="beneficiary.barangay_code" ng-disabled="beneficiary.city_code.length <= 0 || isProvinceLoading || isCityLoading || isBarangayLoading">
                                    <option ng-value="''">All Barangay</option>
                                    <option ng-repeat="obj in barangays" ng-value="obj.barangay_code"><% obj.name %></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="preview-hr">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="beneficiary-type">Type of Beneficiary</label>
                            <div class="form-control-wrap">
                                <select id="beneficiary-type" class="form-control" ng-model="beneficiary.beneficiary_type_id"  ng-disabled="beneficiary.beneficiary_types.length <= 0 || isBeneficiaryLoading">
                                    <option ng-value="''">All Beneficiary Type</option>
                                    <option ng-repeat="obj in beneficiary_types" ng-value="obj.id"><% obj.name %></option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="civil-status">Civil Status</label>
                            <div class="form-control-wrap">
                                <select id="civil-status" class="form-control" ng-model="beneficiary.civil_status">
                                    <option ng-value="''">All Civil Status</option>
                                    <option ng-value="'S'">Single</option>
                                    <option ng-value="'M'">Married</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="form-label" for="gender">Gender</label>
                            <div class="form-control-wrap">
                                <select id="gender" class="form-control" ng-model="beneficiary.gender">
                                    <option ng-value="''">All Gender</option>
                                    <option ng-value="'M'">Male</option>
                                    <option ng-value="'F'">Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="preview-hr">
                <div class="row">
                    <div class="col-2 offset-10">
                        <button class="btn btn-md btn-light btn-block" ng-click="export()" ng-disabled="isExporting">
                            <em ng-if="!isExporting" class="icon ni ni-download-cloud"></em>
                            <span ng-if="!isExporting">Export</span>

                            <span ng-if="isExporting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                            <span ng-if="isExporting"> Loading... </span>
                        </button>
                    </div>
<!--                    <div class="col-2">-->
<!--                        <button class="btn btn-md btn-primary btn-block" ng-click="generate()">-->
<!--                            <em class="icon ni ni-reload-alt"></em>-->
<!--                            <span>Generate</span>-->
<!--                        </button>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</div>

<!--<div class="nk-block">-->
<!--    <div class="card card-bordered card-stretch">-->
<!--        <div class="card-inner-group">-->
<!--            <div class="card-inner">-->
<!--                RESULT-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
