<div class="modal-content">
    <a href="#" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <em class="icon ni ni-cross"></em>
    </a>
    <div class="modal-header">
        <h4 class="modal-title">Add Beneficiary</h4>
    </div>
    <div class="modal-body">

        <span class="preview-title-lg overline-title">Name of Beneficiary</span>
        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label class="form-label" for="first-name">First Name</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="first-name" placeholder="Enter beneficiary first name" ng-model="beneficiary.first_name">
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="form-label" for="middle-name">Middle Name</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="middle-name" placeholder="Enter beneficiary middle name" ng-model="beneficiary.middle_name">
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="form-label" for="last-name">Last Name</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="last-name" placeholder="Enter beneficiary last name" ng-model="beneficiary.last_name">
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label class="form-label" for="suffix">Suffix Name</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="suffix" placeholder="Enter beneficiary suffix name" ng-model="beneficiary.suffix_name">
                    </div>
                </div>
            </div>
        </div>

        <hr class="preview-hr">
        <span class="preview-title-lg overline-title">Address of Beneficiary</span>
        <div class="row">

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="region">
                        Region
                    </label>
                    <div ng-if="isRegionLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="region" class="form-control" ng-model="beneficiary.region_code" ng-change="getProvinces()">
                            <option ng-value="''">Select Region</option>
                            <option ng-repeat="obj in regions" ng-value="obj.region_code"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="province">Province</label>
                    <div ng-if="isProvinceLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="province" class="form-control" ng-model="beneficiary.province_code" ng-change="getCities()" ng-disabled="beneficiary.region_code.length <= 0 || isProvinceLoading">
                            <option ng-value="''">Select Province</option>
                            <option ng-repeat="obj in provinces" ng-value="obj.province_code"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="municipality">Municipality</label>
                    <div ng-if="isCityLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="municipality" class="form-control" ng-model="beneficiary.city_code" ng-change="getBarangays()" ng-disabled="beneficiary.province_code.length <= 0 || isProvinceLoading || isCityLoading">
                            <option ng-value="''">Select Municipality</option>
                            <option ng-repeat="obj in cities" ng-value="obj.city_code"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="barangay">Barangay</label>
                    <div ng-if="isBarangayLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="barangay" class="form-control" ng-model="beneficiary.barangay_code" ng-disabled="beneficiary.city_code.length <= 0 || isProvinceLoading || isCityLoading || isBarangayLoading">
                            <option ng-value="''">Select Barangay</option>
                            <option ng-repeat="obj in barangays" ng-value="obj.barangay_code"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="district-number">District</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="district-number" placeholder="Enter district number" ng-model="beneficiary.district_number">
                    </div>
                </div>
            </div>
        </div>

        <hr class="preview-hr">
        <span class="preview-title-lg overline-title">Identification Details of Beneficiary</span>
        <div class="row mt-2">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="id-type">Type of ID</label>
                    <div ng-if="isIdentificationTypeLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="id-type" class="form-control" ng-model="beneficiary.identification_type_id" ng-disabled="identification_types.length <= 0 || isIdentificationTypeLoading">
                            <option ng-value="''">Select ID Type</option>
                            <option ng-repeat="obj in identification_types" ng-value="obj.id"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="id-number">I.D. Number</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="id-number" placeholder="Enter I.D. number" ng-model="beneficiary.identification_number">
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="contact-number">Contact Number</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="contact-number" placeholder="Enter contact number" ng-model="beneficiary.contact_number">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="form-label" for="e-account-type">Account Type <span class="badge badge-outline-gray">Indicate the type of account</span></label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="e-account-type" placeholder="Enter account type" ng-model="beneficiary.account_type">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="e-account-number">Account Number <span class="badge badge-outline-gray">Indicate the account no.</span></label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="e-account-number" placeholder="Enter account number" ng-model="beneficiary.account_number">
                    </div>
                </div>
            </div>
        </div>

        <hr class="preview-hr">
        <span class="preview-title-lg overline-title">Other Details of Beneficiary</span>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="beneficiary-type">Type of Beneficiary</label>
                    <div ng-if="isBeneficiaryTypeLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="beneficiary-type" class="form-control" ng-model="beneficiary.beneficiary_type_id"  ng-disabled="beneficiary_types.length <= 0 || isBeneficiaryLoading">
                            <option ng-value="''">Select Beneficiary Type</option>
                            <option ng-repeat="obj in beneficiary_types" ng-value="obj.id"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="civil-status">Civil Status</label>
                    <div ng-if="isCivilStatusLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select id="civil-status" class="form-control" ng-model="beneficiary.civil_status" ng-disabled="civil_statuses.length <= 0 || isCivilStatusLoading">
                            <option ng-value="''">Select Civil Status</option>
                            <option ng-repeat="obj in civil_statuses" ng-value="obj.name"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="birth-date">Birth Date</label>
                    <div class="form-control-wrap">
                        <div class="form-icon form-icon-right">
                            <em class="icon ni ni-calendar"></em>
                        </div>
                        <input id="birth-date" type="text" class="form-control date-picker" ui-mask="9999/99/99" ui-mask-placeholder="YYYY/MM/DD" ui-mask-placeholder-char="_" model-view-value="true" ng-model="beneficiary.birth_date" placeholder="YYYY/MM/DD">
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="gender">Gender</label>
                    <div class="form-control-wrap">
                        <select id="gender" class="form-control" ng-model="beneficiary.gender">
                            <option ng-value="''">Select Gender</option>
                            <option ng-value="'M'">Male</option>
                            <option ng-value="'F'">Female</option>
                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-3">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="occupation">Occupation</label>
                    <div ng-if="isOccupationLoading" class="spinner-border spinner-border-sm" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <div class="form-control-wrap">
                        <select class="form-control" id="occupation" ng-model="beneficiary.occupation_id" ng-disabled="isOccupationLoading" ng-change="specifiedOccupation()">
                            <option ng-value="''">Select Occupation</option>
                            <option ng-repeat="obj in occupations" ng-value="obj.id"><% obj.name %></option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-3" ng-if="occupation_specified">
                <div class="form-group">
                    <label class="form-label" for="occupation-other">Specify</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="occupation-other" placeholder="Specify the occupation" ng-model="beneficiary.occupation_other">
                    </div>
                </div>
            </div>
        </div>

        <hr class="preview-hr">
        <span class="preview-title-lg overline-title">Additional Details</span>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="form-label" for="beneficiary-holder">Dependent <span class="badge badge-outline-gray">Name of Beneficiary of the Micro-insurance Holder</span></label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="beneficiary-holder" placeholder="Enter name of beneficiary" ng-model="beneficiary.dependent">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-md-3">
                <div class="form-group">
                    <label class="form-label" for="interested-for-skills-training">Interested for Skills Training?</label>
                    <div class="form-control-wrap">
                        <select class="form-control" ng-model="beneficiary.is_interested" id="interested-for-skills-training" ng-change="interestedInSkillsTraining()">
                            <option ng-value="''">Select</option>
                            <option ng-value="'yes'">Yes</option>
                            <option ng-value="'no'">No</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-md-9" ng-if="isInterested">
                <div class="form-group">
                    <label class="form-label" for="skills-training"><span class="badge badge-outline-gray">If Yes, Indicate skills training needed</span></label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="skills-training" placeholder="Enter skills training" ng-model="beneficiary.skill">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer bg-light">

        <button type="button" class="btn btn-secondary mr-auto" ng-click="close()" ng-disabled="isSubmitting">Close</button>
        <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmitting">
            <% isSubmitting ? 'Processing...' : 'Save Beneficiary' %></button>

    </div>
</div>
