<div class="modal-content">
    <a href="#" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <em class="icon ni ni-cross"></em>
    </a>
    <div class="modal-header">
        <h4 class="modal-title">Add User</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="first-name">Name</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="first-name" placeholder="Enter full name" ng-model="form.name">
                    </div>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="form-group">
                    <label class="form-label" for="email-address">Email Address</label>
                    <div class="form-control-wrap">
                        <input type="email" class="form-control" id="email-address" placeholder="Enter email address" ng-model="form.email">
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-6">
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <div class="form-control-wrap">
                        <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="form.password">
                    </div>
                </div>
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label class="form-label" for="confirm-password">Confirm Password</label>
                    <div class="form-control-wrap">
                        <input type="password" class="form-control" id="confirm-password" placeholder="Confirm password" ng-model="form.confirm_password">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer bg-light">

        <button type="button" class="btn btn-secondary mr-auto" ng-click="close()" ng-disabled="isSubmitting">Close</button>
        <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmitting">
            <% isSubmitting ? 'Processing...' : 'Save Changes' %></button>
    </div>
</div>
