<div class="modal-content">
    <a href="#" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <em class="icon ni ni-cross"></em>
    </a>
    <div class="modal-header">
        <h4 class="modal-title">Change User Password</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="password">Password</label>
                    <div class="form-control-wrap">
                        <input type="password" class="form-control" id="password" placeholder="Enter password" ng-model="form.password">
                    </div>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="form-group">
                    <label class="form-label" for="confirm-password">Confirm New Password</label>
                    <div class="form-control-wrap">
                        <input type="password" class="form-control" id="confirm-password" placeholder="Confirm new password" ng-model="form.confirm_password">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer bg-light">

        <button type="button" class="btn btn-secondary mr-auto" ng-click="close()" ng-disabled="isSubmitting">Close</button>
        <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmitting">
            <% isSubmitting ? 'Processing...' : 'Save Changes' %></button>

    </div>
</div>
