<nav class="mb-2">
    <ul class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item"><a href="/admin/beneficiaries">Home</a></li>
        <li class="breadcrumb-item active">Users</li>
    </ul>
</nav>

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">Users</h3>
            <div class="nk-block-des text-soft">
                <p>You have total <% pagination.totalItems %> users.</p>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->


<div class="nk-block">
    <div class="card card-bordered card-stretch">
        <div class="card-inner-group">
            <div class="card-inner">
                <div class="row">
                    <div class="col-2 sendthat-vertical-middle">
                        <button class="btn btn-md btn-primary btn-block" ng-disabled="buttonClicked" ng-click="add(buttonNotClicked)">
                            <em ng-if="!buttonClicked" class="icon ni ni-plus-circle-fill"></em>
                            <span><% buttonClicked ? 'Processing...' : 'User' %></span>
                        </button>
                    </div>
                    <div class="col-md-7">

                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <div class="form-control-wrap">
                                <div class="form-icon form-icon-left">
                                    <em class="icon ni ni-search"></em>
                                </div>
                                <input type="text" class="form-control" placeholder="Search" ng-model="pagination.search" ng-keyup="doSearch()" >
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-inner p-0">
                <table class="table table-tranx is-compact">
                    <thead>
                    <tr class="tb-tnx-head">
                        <th class="tb-tnx-id" width="1%"><span class="">#</span></th>
                        <th class="tb-tnx-info" width="25%">Name</th>
                        <th class="tb-tnx-info" width="50%">Email</th>
                        <th class="tb-tnx-info text-center" width="8%">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class=tb-tnx-item" ng-if="isLoading && pagination.objects.length <= 0">
                        <td colspan="4" align="center">
                            <div class="spinner-border" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </td>
                    </tr>

                    <tr class="tb-tnx-item" ng-if="!isLoading && pagination.objects.length <= 0">
                        <td colspan="4" align="center">No Results Found</td>
                    </tr>

                    <tr class="tb-tnx-item" ng-repeat="obj in pagination.objects" ng-if="!isLoading && pagination.objects.length > 0">
                        <td class="tb-tnx-id"><span><% obj.id %></span></td>
                        <td class="tb-tnx-info"><% obj.name %></td>
                        <td class="tb-tnx-info">
                            <span class="title">
                                <% obj.email %>
                            </span>
                        </td>
                        <td class="tb-tnx-info text-center">

                            <div class="btn-group">
                                <button class="btn btn-sm btn-light" ng-click="change_password(obj, buttonNotClicked)">
                                    <em class="icon ni ni-lock-alt-fill"></em>
                                </button>
                                <button class="btn btn-sm btn-light" ng-click="edit(obj, buttonNotClicked)">
                                    <em class="icon ni ni-edit"></em>
                                </button>
                                <button class="btn btn-sm btn-light" ng-click="delete(obj.id)">
                                    <em class="icon ni ni-trash"></em>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="card-inner">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="dataTables_info" id="DataTables_Table_0_info" role="status" aria-live="polite">Showing <% pagination.objects.length %> of <% pagination.totalItems %> entries</div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <div class="">
                            <div class="float-right">
                                <ul uib-pagination ng-change="pageChanged()" total-items="pagination.totalItems" ng-model="pagination.currentPage" max-size="pagination.maxSize" class="pagination" items-per-page="pagination.itemsPerPage" boundary-links="true" force-ellipses="true"></ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
