<div class="modal-content">
    <a href="#" class="close" data-dismiss="modal" aria-label="Close" ng-click="close()">
        <em class="icon ni ni-cross"></em>
    </a>
    <div class="modal-header">
        <h4 class="modal-title">Add Occupation Type</h4>
    </div>
    <div class="modal-body">

        <div class="row">
            <div class="col-12">
                <div class="form-group">
                    <label class="form-label" for="first-name">Occupation Type Name</label>
                    <div class="form-control-wrap">
                        <input type="text" class="form-control" id="first-name" placeholder="Enter Occupation type name" ng-model="form.name">
                    </div>
                </div>
            </div>

            <div class="col-12 mt-2">
                <div class="custom-control custom-switch">
                    <input type="checkbox" class="custom-control-input" id="specified" ng-model="form.specified">
                    <label class="custom-control-label" for="specified">Specified</label>
                </div>
            </div>
        </div>

    </div>
    <div class="modal-footer bg-light">

        <button type="button" class="btn btn-secondary mr-auto" ng-click="close()" ng-disabled="isSubmitting">Close</button>
        <button class="btn btn-success" ng-click="submit()" ng-disabled="isSubmitting">
            <% isSubmitting ? 'Processing...' : 'Save Changes' %></button>

    </div>
</div>
