<nav>
    <ul class="breadcrumb breadcrumb-arrow">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/admin/orders">Orders</a></li>
        <li class="breadcrumb-item active">View Order</li>
    </ul>
</nav>

<div class="nk-block-head nk-block-head-sm">
    <div class="nk-block-between g-3">
        <div class="nk-block-head-content">
            <h3 class="nk-block-title page-title">View Order</h3>
            <div class="nk-block-des text-soft">
                <p>Delivery ID is <% orderId %></p>
            </div>
        </div><!-- .nk-block-head-content -->
    </div><!-- .nk-block-between -->
</div><!-- .nk-block-head -->


<div class="nk-block">
    <div class="row">
        <div class="col-6">
            <ng-include src="'/app/admin/orders/templates/partials/view-order/order-detail.html'"></ng-include>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-12">
                    <ng-include src="'/app/admin/orders/templates/partials/view-order/machship-consignment.html'"></ng-include>
                </div>
                <div class="col-12">
                    <ng-include src="'/app/admin/orders/templates/partials/view-order/user-detail.html'"></ng-include>
                </div>
                <div class="col-12">
                    <ng-include src="'/app/admin/orders/templates/partials/view-order/billing-detail.html'"></ng-include>
                </div>
            </div>

        </div>
    </div>
</div>
